<strong>Olá, {{ deliveryman }}!</strong>
<p>Sinto em lhe informar que a encomenda {{ order }} foi cancelada.</p>
<br />
<br />
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Data do cancelamento: </strong> {{ canceled_at  }}
  <strong>Motivo: </strong> {{ description }}
</p>
